{% extends 'base.html.twig' %}

{% block title %}Edit Caissier{% endblock %}

{% block body %}
    <h1>Edit Caissier</h1>

    {{ include('caissier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caissier_index') }}">back to list</a>

    {{ include('caissier/_delete_form.html.twig') }}
{% endblock %}
