{% extends 'base.html.twig' %}

{% block title %}New Caissier{% endblock %}

{% block body %}
    <h1>Create new Caissier</h1>

    {{ include('caissier/_form.html.twig') }}

    <a href="{{ path('app_caissier_index') }}">back to list</a>
{% endblock %}
